@charset "utf-8";

@import url(common.css);
@import url(header.css);

/* Signin Page Style */

.catalog_header__container {
	border-bottom: 1px solid #DBDBDB;
}

.catalog-header__title h3 {
	padding-right: 20px;
	border-right: 1px solid #DBDBDB;
}

.nav_bar .user-nav__list:hover {
	border-bottom: 2px solid #767676;
}

.pagination-auth-content .pagination-auth-box {
	margin-top: 55px;
	padding: 0 20px;
	border: 1px solid #DBDBDB;
}

.pagination-auth__third-login {
	margin: 20px 0;
}

.pagination-auth__third-login .fb-signup {
	margin-bottom: 10px;
}

.pagination-auth__third-login .third-login .third-login__btn {
	width: 100%;
	padding: 6px 0;
	font-size: 18px;
	border: none;
	outline: none;
	color: #fff;
}

.pagination-auth__third-login .fb-signup .third-login__btn {
	background: #3c5996;
}

.pagination-auth__third-login .gool-signup .third-login__btn {
	background: #db5048;
}

.third-login__btn a {
	color: #fff;
}

.split-line span {
	position: relative;
}

.split-line {
	margin-bottom: 16px;
	overflow: hidden;
	text-align: center;
}

.split-line span::before {
	content: '';
  position: absolute;
  top: 50%;
  right: 25px;
  width: 1000px;
  border-bottom: 1px solid #e4e4e4;
}

.split-line span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 23px;
    width: 1000px;
    border-bottom: 1px solid #e4e4e4;
}

.pagination-auth__signup ul {
	padding: 0;
}

.pagination-auth__signup .pagination-auth__signup-input {
	position: relative;
	height: 42px;
	line-height: 42px;
	margin-bottom: 15px;
	border: 1px solid #e4e4e4;
	overflow: hidden;
}

.pagination-auth__signup .pagination-auth__signup-input input {
	position: absolute;
	width: 270px;
	line-height: 23px;
	padding: 9px 9px 10px;
	border: none;
	font-size: 14px;
	color: #333;
}

.pagination-auth__signup .pagination-auth__signup-btn {
	margin-top: 15px;
	text-align: center;
}

.pagination-auth__signup-btn button {
	padding: 10px 15px;
	background: #4285f4;
	border: none;
	color: #fff;
	outline: none;
}
